body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sketch-screen {
  flex-direction: row;
  height: 600px;
  width: 600px;
  display: flex;
  border: 1px solid white;
}

.column{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: white;
}

.row {
  flex: 1;
}
